$clr_green1: #7FE923;
$clr_green2: #55a510;
$clr_green3: #487621;

$color-dark1: #1D2124;
$color-light: #181818;
$color-dark2: #333333;

$color4: #6c6c6c;
$color5: #969696;
$color6: #dfdfdf;
$color10: #ffffff;



