.NotFound{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.conttenido{
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: contain; /* Resize the background image to cover the entire container */
    height: 100%;
    overflow: hidden;
}
